@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Category> allCategories = ViewBag.AllCategories;
    List<Product> allProducts = ViewBag.AllProducts;
}
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Danh mục sản phẩm</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                    @foreach (var item in allCategories)
                    {
                        string url = $"/{item.CatName}";
                        <a href="@url" class="nav-item nav-link">@item.CatName</a>
                    }
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="index.html" class="nav-item nav-link active">Trang chủ</a>
                        <a asp-controller="Product" asp-action="Index" class="nav-item nav-link">Sản phẩm</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tài khoản</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a asp-action="Dashboard" asp-controller="Accounts" class="dropdown-item">Trang cá nhân</a>
                                    <a asp-action="Logout" asp-controller="Accounts" class="dropdown-item">Đăng xuất</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tài khoản</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a asp-action="Login" asp-controller="Accounts" class="dropdown-item">Đăng nhập</a>
                                    <a asp-action="DangKyTaiKhoan" asp-controller="Accounts" class="dropdown-item">Đăng ký</a>
                                </div>
                            </div>
                        }
                        <a asp-controller="Home" asp-action="Contact" class="nav-item nav-link">Liên hệ</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0">

                    </div>
                </div>
            </nav>
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 410px;">
                        <img class="img-fluid" src="~/assets/img/banner1.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm 100k cho tất cả đơn hàng</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Trên 500k</h3>
                                <a asp-controller="Product" asp-action="Index" class="btn btn-light py-2 px-3">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="height: 410px;">
                        <img class="img-fluid" src="~/assets/img/banner2.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">Miễn phí vận chuyển cho đơn hàng</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">ĐẦU TIÊN</h3>
                                <a asp-controller="Product" asp-action="Index" class="btn btn-light py-2 px-3">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hoàn trả 14 ngày</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Danh mục sản phẩm</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var item in allCategories)
        {
            string url = $"/{item.CatName}";
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@item.Products.Count() sản phẩm</p>
                    <a href="@url" class="cat-img position-relative overflow-hidden mb-3">
                        <img height="305" width="305" src="~/images/categories/@item.Thumb" alt="@item.CatName">
                    </a>
                    <a href="@url"><h5 class="font-weight-semi-bold m-0" style="text-align: center">@item.CatName</h5></a>
                </div>
            </div>
        }
    </div>
</div>
<!-- Categories End -->
<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="~/assets/img/offer-1.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Giảm 20% cho tất cả đơn hàng</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Siêu ưu đãi</h1>
                    <a href="Shop.html" class="btn btn-outline-primary py-md-2 px-md-3">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="~/assets/img/offer-2.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Giảm 20% cho tất cả đơn hàng</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Siêu ưu đãi</h1>
                    <a href="Shop.html" class="btn btn-outline-primary py-md-2 px-md-3">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Sản phẩm nổi bật</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var item in allProducts)
        {
            string url = $"/{item.ProductName}-{item.ProductId}.html";
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a href="@url">
                            <img width="266" height="204" src="~/images/products/@item.Thumb" alt="@item.ProductName">
                        </a>
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <a href="@url"><h6 class="text-truncate mb-3">@item.ProductName</h6></a>
                        @if (item.Discount != null)
                        {
                            <div class="d-flex justify-content-center">
                                <h6>@item.Discount.Value.ToString("#,##0") VNĐ</h6><h6 class="text-muted ml-2"><del>@item.Price.Value.ToString("#,##0") VNĐ</del></h6>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-center">
                                <h6>@item.Price.Value.ToString("#,##0") VNĐ</h6>
                            </div>
                        }
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="@url" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
                        <div class="add-cart" data-product-id="@item.ProductId">
                            <button class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ</button>
                            @*<input hidden asp-for="@item.ProductId" />*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="~/assets/img/vendor-1.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/assets/img/vendor-2.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/assets/img/vendor-3.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/assets/img/vendor-4.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/assets/img/vendor-5.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/assets/img/vendor-6.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/assets/img/vendor-7.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/assets/img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $(".add-to-cart").click(function () {
                    var productid = $('#ProductId').val();
                    var soLuong = 1;
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            quantity: soLuong.val()
                        },
                        success: function (response) {
                            loadHeaderCart(); // Add product success
                            location.reload();
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });
                $(".add-cart").click(function () {
                    var productid = $(this).attr("data-product-id");
                    var soLuong = 1;
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            quantity: soLuong
                        },
                        success: function (response) {
                            loadHeaderCart(); // Add product success
                            location.reload();
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });
            });
            function loadHeaderCart() {
                $("#numberCart").load("/AjaxContent/NumberCart");
            }
        });
    </script>
}